
<nav class="navbar navbar-expand-lg nav_bar">
      <ul class="navbar-nav u-list">

        <li class="nav-item">
          <a class="nav-link active" [routerLink]="['']" ><h3>HOME</h3></a>
        </li>

        <li>
          <a class="navbar-brand" href=""><img alt="Logo burger" src="../../assets/img/burger.png" class="img-logo"/></a>
        </li>

        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/contacto']" ><h3>CONTACTO</h3></a>
        </li>
      </ul>
</nav>
