<h2>Elegi tu hamburguesa</h2>
<table class="table">
    <thead>
        <tr>
            <th scope="col">Nombre</th>
            <th scope="col">imagen</th>
            <th scope="col">Descripcion</th>
            <th scope="col">Precio</th>
            <th scope="col">Comprar</th>
          </tr>
    </thead>
    <tbody>
        <tr *ngFor = "let hamburg of hamburgs">
            <td scope="row"> {{hamburg.nombre}} </td>
            <td scope="row"> <img class="img-thumbnail" [src]="hamburg.image" alt=""></td>
            <td scope="row"> {{hamburg.descripcion}}</td>
            <td scope="row"> {{hamburg.precio}}</td>
            <td>
              <a [routerLink]="['aderezos']"><button class="btn btn-primary" >seleccionar</button></a>
            </td>
        </tr>
    </tbody>
</table>

